@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SportsShop.Domain.Convertors
@model List<SportsShop.Domain.Models.Permissions.Role>
@{
    ViewData["Title"] = "سطح دسترسی";
    int cnt = 1;
    Layout = "_DefaultAdminLayout";
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index" asp-area="Admin"><i class="mdi mdi-home"></i></a>
                        </li>

                        <li class="breadcrumb-item active">
                            <a href="#"> لیست نقش ها </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header bg-white search-box">
                    <input type="text" id="mySearchText" class="form-control" placeholder="جستجو ...">
                </div>

                <div class="card-header">
                    <a asp-area="Admin" asp-controller="Role" asp-action="RoleCreate" type="button" class="btn col-lg-1  btn-primary  mr-1 mb-1">افزودن</a>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table id="DataTable" class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>نام نقش</th>
                                        <th>تاریخ ثبت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="Role_@(item.RoleId)">
                                            <td>@cnt</td>
                                            <td>@item.RoleTitle</td>
                                            <td>@item.CreateDate.ToShamsi()</td>
                                            <td>



                                                <div class="dropup">
                                                    <span style="padding: 0 20px" class="fas fa-ellipsis-v  dropdown-toggle cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                    </span>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" asp-controller="Role" asp-action="RoleEdit" asp-route-id="@item.RoleId" asp-area="Admin"><i class="far fa-edit mr-1"></i> ویرایش</a>
                                                        <a class="dropdown-item" onclick="DeleteRole(@item.RoleId)"><i class="far fa-trash-alt mr-1"></i> حذف</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        cnt++;
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section CustomStyles
{
    <link rel="stylesheet" type="text/css" href="/Admin/assets/vendors/css/tables/datatable/datatables.min.css">

}


@section Script
{
    <script src="/Admin/assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/Admin/assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/Admin/assets/js/scripts/datatables/datatable.js"></script>
    
    <script src="~/Admin/assets/js/scripts/configDataTable.js"></script>



    <script type="text/javascript">
        function DeleteRole(id) {
            Swal.fire({
                title: 'آیا مطمئنید؟',
                text: "این عمل قابل بازگشت نخواهد بود!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'تایید',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                cancelButtonText: 'انصراف',
                buttonsStyling: false,
            }).then(function(result) {
                if (result.value) {
                    $.get("/Admin/Role/Delete/" + id,
                        function(data) {
                            if (data === 3) {
                                $("#Role_" + id).hide('slow');

                                Swal.fire({
                                    type: "success",
                                    title: 'حذف شد!',
                                    text: ' دسترسی با موفقیت حذف شد',
                                    confirmButtonClass: 'btn btn-success',
                                    confirmButtonText: 'باشه',
                                });
                            }
                            if (data === 2) {
                                Swal.fire({
                                    title: "خطا!",
                                    text: "سطح دسترسی برای کاربری تعریف شده است!",
                                    type: "error",
                                    confirmButtonClass: 'btn btn-primary',
                                    confirmButtonText: 'باشه',
                                    buttonsStyling: false,
                                });
                            }

                            if (data === 1) {
                                Swal.fire({
                                    title: "خطا!",
                                    text: "شما مجاز به دسترسی نیستید!",
                                    type: "error",
                                    confirmButtonClass: 'btn btn-primary',
                                    confirmButtonText: 'باشه',
                                    buttonsStyling: false,
                                });
                            }


                        });
                }
            });

        }

    </script>



    }