@using SportsShop.Domain.Models.Permissions
@using SportsShop.Application.Interfaces
@inject IPermissionService PermissionService
@model Role
@{
    ViewData["Title"] = "ثبت نقش";
    List<Permission> permissions = PermissionService.GetAllPermission();
    Layout = "_DefaultAdminLayout";
}


<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index" asp-area="Admin"><i class="mdi mdi-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Role" asp-action="Index" asp-area="Admin">لیست نقش ها</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">افزودن نقش</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="col-12">
    <div class="card">

        <div class="card-content">
            <div class="card-body">
                <form class="form" method="post">
                    <div class="form-body">

                        <div class="col-md-12">
                            <div class="panel panel-primary">

                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input autocomplete="off" placeholder="عنوان نقش" type="text" asp-for="RoleTitle" class="form-control">
                                        <span asp-validation-for="RoleTitle" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <label> توضیحات</label>
                                        <textarea autocomplete="off" class="form-control" asp-for="Description"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>



                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary checkbox-glow">
                                <input type="checkbox" class="custom-control-input" id="changes" onchange="change()">
                                <label class="custom-control-label mr-1" for="changes">انتخاب همه</label>
                            </div>
                            <div class="panel panel-primary">

                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <ul>
                                        @foreach (var permission in permissions.Where(p => p.ParentId == null))
                                        {
                                            <li class="li-Permissiom">
                                                <div class="checkbox checkbox-primary checkbox-glow">
                                                    <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@permission.PermissionId" id="@permission.PermissionId">
                                                    <label class="custom-control-label mr-1" for="@permission.PermissionId"></label>
                                                    <span class="switch-label"> @permission.PermissionTitle </span>
                                                </div>


                                                @if (permissions.Any(p => p.ParentId == permission.PermissionId))
                                                {
                                                    <ul>
                                                        @foreach (var sub in permissions.Where(p => p.ParentId == permission.PermissionId))
                                                        {
                                                            <li class="li-Permissiom">
                                                                <div class="checkbox checkbox-primary checkbox-glow">
                                                                    <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@sub.PermissionId" id="@sub.PermissionId">
                                                                    <label class="custom-control-label mr-1" for="@sub.PermissionId"></label>
                                                                    <span class="switch-label"> @sub.PermissionTitle </span>
                                                                </div>

                                                                @if (permissions.Any(p => p.ParentId == sub.PermissionId))
                                                                {
                                                                    <ul>
                                                                        @foreach (var sub2 in permissions.Where(p => p.ParentId == sub.PermissionId))
                                                                        {
                                                                            <li class="li-Permissiom">

                                                                                <div class="checkbox checkbox-primary checkbox-glow">
                                                                                    <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@sub2.PermissionId" id="@sub2.PermissionId">
                                                                                    <label class="custom-control-label mr-1" for="@sub2.PermissionId"></label>
                                                                                    <span class="switch-label"> @sub2.PermissionTitle </span>
                                                                                </div>


                                                                                @if (permissions.Any(p => p.ParentId == sub2.PermissionId))
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var sub3 in permissions.Where(p => p.ParentId == sub2.PermissionId))
                                                                                        {
                                                                                            <li class="li-Permissiom">

                                                                                                <div class="checkbox checkbox-primary checkbox-glow">
                                                                                                    <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@sub3.PermissionId" id="@sub3.PermissionId">
                                                                                                    <label class="custom-control-label mr-1" for="@sub3.PermissionId"></label>
                                                                                                    <span class="switch-label"> @sub3.PermissionTitle </span>
                                                                                                </div>



                                                                                                @if (permissions.Any(p => p.ParentId == sub3.PermissionId))
                                                                                                {
                                                                                                    <ul>
                                                                                                        @foreach (var sub4 in permissions.Where(p => p.ParentId == sub3.PermissionId))
                                                                                                        {
                                                                                                        <li class="li-Permissiom">

                                                                                                            <div class="checkbox checkbox-primary checkbox-glow">
                                                                                                                <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@sub4.PermissionId" id="@sub4.PermissionId">
                                                                                                                <label class="custom-control-label mr-1" for="@sub4.PermissionId"></label>
                                                                                                                <span class="switch-label"> @sub4.PermissionTitle </span>
                                                                                                            </div>



                                                                                                            @if (permissions.Any(p => p.ParentId == sub4.PermissionId))
                                                                                                            {
                                                                                                                <ul>
                                                                                                                    @foreach (var sub5 in permissions.Where(p => p.ParentId == sub4.PermissionId))
                                                                                                                    {
                                                                                                                        <li class="li-Permissiom">

                                                                                                                            <div class="checkbox checkbox-primary checkbox-glow">
                                                                                                                                <input type="checkbox" class="custom-control-input" name="selectedPermission" value="@sub5.PermissionId" id="@sub5.PermissionId">
                                                                                                                                <label class="custom-control-label mr-1" for="@sub5.PermissionId"></label>
                                                                                                                                <span class="switch-label"> @sub5.PermissionTitle </span>
                                                                                                                            </div>
                                                                                                                        </li>




                                                                                                                    }

                                                                                                                </ul>
                                                                                                            }


                                                                                                        </li>




                                                                                                        }

                                                                                                    </ul>
                                                                                                }

                                                                                            </li>


                                                                                        }

                                                                                    </ul>
                                                                                }

                                                                            </li>
                                                                        }

                                                                    </ul>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }



                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                            </div>



                        </div>

                        <div class="row col-md-12   d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary px-4 mb-1">ثبت</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        function change() {

            if ($('#changes').is(":checked")) {
                $('input:checkbox').prop('checked', true);
            } else {
                $('input:checkbox').prop('checked', false);

            }
        }
    </script>
    <script>
        $("#information").addClass('active');
        $("a[href='#information']").addClass('active');
        $("#Role").addClass('active');
    </script>
}
